@media only screen and (max-width: 1024px){
	
	.about-info-wrp{
		clear: both;
		min-width: 100%;
	}
	.about-image-container{
		clear: both;
		float: left;
		min-width: 100%;
	}
	
	.connect-with-oxides{
		float: left;
		min-width: 45%;
	}
	
	.latest-feature-container{
		float: left;
		min-width: 45%;
	}

	.twitter-feed-container{
		float: left;
		clear: both;
		min-width: 45%;
	}
	.photo-stream-container{
		float: left;
		min-width: 45%;
	}

	.employee-counter ul li{
		float: left;
		min-width: 40%;
	}

	.body-upper-container ul li{
		clear: both;
		float: left;
		min-width: 100%;
	}
	.feature-container ul li{
		min-width:32%;
	}
}

@media only screen and (max-width: 768px){
	.feature-container ul li{
	  float: left;
	  min-width: 48%;
	}

	.employee-counter ul li{
		float: left;
		min-width: 70%;
	}
	.about-image-container img{
		width: 100%;
		height:100%;
	}

	.latest-feature-container{
		clear: both;
		min-width: 65%;
	}

	.photo-stream-container{
		clear: both;
		min-width: 65%;
	}
	.connect-with-oxides{
		float: left;
		min-width: 65%;
	}
	.twitter-feed-container{
		float: left;
		min-width: 65%;
	}

	.body-upper-container ul li img.pic{
	  float: left;
	  clear: both;
	  display: block;
	  min-width: 100%;
	}

	.body-upper-summary{
		clear: both;
		min-width: 100%;
	}

	.nav-menu-container{
		clear: both;
		float: right;
	}
}